<!-- 
#  Appdev Label Info:
#label_context:opstool-FCFActivities
#language_code:en
-->
<div class="op-widget-masthead">
    <h3><span app-label-key="fcf.activityapproval.submittedBy">Submitted By:</span></h3>
</div>
<!--Avatar & Team-->
<div class="op-container">
    <div>
        <h3 class="nomargintop"><%= user.displayName %></h3>
        <p><strong><span app-label-key="fcf.imageapproval.teams">Team(s):</span></strong></p>
        <ul style="margin-left: 20px;">
            <% user.teams.forEach(function(team){ %>
            <li><%= team.MinistryDisplayName %></li>
            <% }) %>
        </ul>
    </div>                        
</div>
<!--/Avatar & Team-->
<div class="op-container">
    <h5 class="op-margin-bottom">
        <span app-label-key="fcf.imageapproval.createdOn">Created On:</span> <%= createdAt %>
    </h5>
    <div class="op-container off-botm20">
        <label class="lbl-title"><span app-label-key="fcf.activityapproval.underTeam">Under Team:</span></label>

        <%

            var foundTeam = null;
            user.teams.forEach(function(team){

              if (team.IDMinistry == teamID){
        %>
        <p><span><strong><%= team.MinistryDisplayName %></strong></span></p>

        <%    
              }
            })
        %>
        
    </div>
</div>