<div class="opsportal-stage-container opsportal-padding-bottom-2x" >
<!-- 
#  Appdev Label Info:
#label_context:opstool-FCFActivities
#language_code:en
-->

<div style="display:none;">
  Labels not in HTML but needed in tool:
  <span app-label-key="fcf.confirm.DeleteConfirm">Delete Confirm</span>
  <span app-label-key="fcf.confirm.DeleteConfirmMessage">Are you sure you want to delete this image?</span>
  <span app-label-key="fcf.confirm.yes">yes</span>
  <span app-label-key="fcf.confirm.no">no</span>
  <span app-label-key="fcf.confirm.DeleteNotAllowed">Delete Not Allowed</span>
  <span app-label-key="fcf.confirm.DeleteNotAllowedMessage">This image has other people tagged in it.  In order to delete it, you need to notify your ministry leader.</span>
  <span app-label-key="fcf.confirm.ok">OK</span>
  <span app-label-key="fcf.confirm.UnsavedChanges">Unsaved Changes</span>
  <span app-label-key="fcf.confirm.UnsavedChangesMessage">You have made changes that are not saved.  What should I do?</span>
  <span app-label-key="fcf.confirm.dontSave">Don't Save</span>
  <span app-label-key="fcf.confirm.cancel">Cancel</span>
  <span app-label-key="fcf.confirm.save">Save</span>
</div>

<div id="fcf-activity-portal" class="container">
	<div class="clearfix">
		<div class="col-sm-12 column">
			<div class="fcf-activity-new jumbotron well" style="cursor: pointer; font-size: 30px; text-align:center;">Start Here</div>
			<!--<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#"><span app-label-key="fcf.assignment.Activities" >Activities:</span></a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav navbar-right">
						<li>
              <button style="padding:14px 12px"class="btn custombtn fcf-activity-new" href="#" role="button" ><span app-label-key="fcf.assignment.newUpdateActivity" >New/Update Activity</span></button>
							 <a href="#fcf-activities/AddActivity1" class="fcf-activity-new">New/Update Activity</a> 
						</li>
						
					</ul>
				</div>
				
			</nav>-->
			<!--<div class="jumbotron well">
				<h1>
					<span app-label-key="fcf.assignment.Activities" >Activities</span>
				</h1>
			</div>-->

		</div>
	</div>
</div>
                <br/>


                               <!--PAGE 1-->

                <div id="fcf-activity-add-chooseTeam" class="container rbac-display rbac-page1" style="display:block; padding-bottom: 50px;">
                  <div class="overflow-h fcf-blue-wrap col-sm-12">
                        <!--Top-->
                        <div class="row op-container">
                            <div class="col-sm-12">
                                <!-- <p class="pull-left" >
                                    <a href="http://www.thaiconnections.org/OSticket/upload/open.php"><i class="fa fa-question-circle" aria-hidden="true"></i><span class="light-txt" app-label-key="fcf.help">Help</span></a>
                                </p> -->
                                <p class="pull-right light-txt" app-label-key="fcf.assignment.Choose.Team.step1">Step 1 of 3</p>
                            </div>
                        </div>
                        <!--End Top-->
            <!--Content-->
            <div class="row op-container">
              <div class="col-sm-12">
                <div class="light-blue-wrap col-sm-12">
                
                  <div class="overflow-h col-sm-12">

                    <h4><span app-label-key="fcf.assignment.Choose.Team.InstructionsLabel">Instructions</span></h4>
                    <p class="off-botm15" app-label-key="fcf.assignment.Choose.Team.Instructions">Please select which Team to which you would like add an Activity. Either double-click on the name of the team or type in the name in the Search box.</p>
                    
                    <h4><span app-label-key="fcf.assignment.Choose.Team.Desc" >What Ministry Team is this activity associated with?</span></h4>

                  </div>
                  <div class="col-sm-12 off-botm15 ">
                  <!--Search-->
                  <div class="col-sm-4 nopadLR">
                      <div class="input-group">
                      <span class="input-group-btn"><button class="btn " type="button"><i class="fa fa-search"></i></button></span>

                      <input type="text" class="form-control typeahead fcf-team-filter" placeholder="Search for Team" app-label-key="fcf.assignment.searchForTeam">

                      </div> 
                  </div>
                  <!-- /Searh-->
                  <div class="col-sm-8"></div>              
                  </div>
                  
                  <div class="col-sm-12">
                    <table class="fcf-team-list table table-bordered op-table " data-toggle="table" data-cache="false">
                    <thead>
                      <tr>

                      <th data-field="MinistryDisplayName" ><span app-label-key="fcf.assignment.MinistryTeam">Ministry Team</span></th>
                      <th data-field="ProjectOwner" ><span app-label-key="fcf.assignment.projectOwner">Project/Owner</span></th>

                      </tr>
                    </thead>
                    <tbody>
                      <!--  teams.forEach(function(team){   -->
                      <tr class="alt" obj-embed="team" >
                      <td>[[= team.attr('MinistryDisplayName')]]</td>
                      <td>[[= team.attr('ProjectOwner')]]</td>
                      </tr>
                      <!-- }) -->
                      <tr class='mockup alt'>
                      <td>Thornton</td>
                      <td>@fat</td>
                      </tr>
                      <tr class='mockup alt'>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
                  
                 </div> 
              </div>
                        
                      </div>
            
            
                      <div id="fcf-activity-actionsbtn" class="col-sm-12">

                          <button id="fcf-activity-add-chooseteam-next" class="btn op-btn btn-primary pull-right " href="#" role="button" rbac-show="rbac-page2"><span app-label-key="fcf.assignment.Next" >Next</span></button>

                      </div>
                                 
                  </div>
                </div>                

        <!--/END PAGE 1-->


        <!--  NOTE:  I needed to keep the Page2 + Model under the same <div> container  -->
        <div id="fcf-activity-add-chooseActivity" class="container rbac-display rbac-page2" style="display:none; padding-bottom: 50px;">
        
        <!--PAGE 2-->

       
          <div class="op-container fcf-blue-wrap">
            <!--Top-->
            <div class="row op-container">

                <div class="col-sm-12">
                    <!-- <p class="pull-left" >
                        <a href="http://www.thaiconnections.org/OSticket/upload/open.php"><i class="fa fa-question-circle" aria-hidden="true"></i><span class="light-txt" app-label-key="fcf.help">Help</span></a>
                    </p> -->
                    <p class="pull-right light-txt" app-label-key="fcf.assignment.add.step2">Step 2 of 3</p>
                </div>

            </div>        
            <!--End Top-->
        
        <!--Content-->
        <div class="row op-container">
          <div class="col-sm-12">
            <div class="col-sm-12 light-blue-wrap op-container">
              <div class="col-sm-12">
                <h4>

                  <span app-label-key="fcf.assignment.Choose.Instructions">Instructions</span>
                </h4>
                <p> 
                  <span app-label-key="fcf.assignment.Choose.Activity.Team" >Team:</span> <span class="fcf-activity-add-chooseActivity-teamName" >[[= team.attr("MinistryDisplayName")]]</span>
                </p>
                <p>
                  <span app-label-key="fcf.assignment.Choose.Activity.Desc1" >Choose one of the following activities associated with this team.</span>
                </p>
                <p>
                  <span app-label-key="fcf.assignment.Choose.Activity.Desc2" >If you do not see an activity in the list then click the add activity button.</span>

                </p>
              </div>

              <div class="col-sm-12">
                <!--Search-->
                <div class="col-sm-4 nopadLR">
                  <div class="fcf-activity-list-search form-group">
                    <!-- <div class="input-group"> -->
                      <!-- <span class="input-group-btn"> -->
                          <!-- <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button> -->
                      <!-- </span> -->
                      <input type="text" class="form-control fcf-activity-filter typeahead" placeholder="Search for Activity" app-label-key="fcf.assignment.searchForActivity">
                     <!-- </div>  -->
                  </div>
                </div>

                <!-- /Search-->
                <div class="col-sm-8 overflow-h">

                  <a id="fcf-activity-add-chooseAssignment-addAssignment" class="btn op-btn btn-primary pull-right" href="#" role="button" data-toggle="modal" data-target="#fcf-modal-new-Activity"><span app-label-key="fcf.activity.Add" >Add Activity</span></a>

                </div>


              </div>
                   
              <div class="col-sm-12 ">
                <table class="fcf-activity-list table table-bordered op-table "  data-cache="false">
                <thead>
                  <tr>

                  <th data-field="activity_name"  > <span app-label-key="fcf.assignment.Activity" >Activity Name</span></th>
                  <th data-field="createdBy" ><span app-label-key="fcf.assignment.SubmittedBy">Submitted by</span></th>
                  <th data-field="approvedBy" ><span app-label-key="fcf.assignment.ApprovedBy">Approved by</span></th>

                  </tr>
                </thead>
                <tbody>
                  <!--  activities.forEach(function(activity){   -->
                  <tr class="template alt"  addata="" >
                  <td>
                    [[= activity.attr("activity_name")]]
                  </td>
                  <td>
                    [[= activity.attr("createdBy")]]
                  </td>
                  <td>
                    [[= activity.attr("approvedBy")]]
                  </td>
                  </tr>
                  <!-- }) -->

                  <tr class='mockup alt'>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Otto</td>
                  </tr>
                  <tr class='mockup alt' >
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>Otto</td>
                  </tr>
                </tbody>
                </table>
              </div>
              

         
            </div>
              
          </div>        
        </div>

        <div id="fcf-activity-actionsbtn" class="align-right">
            <button id="fcf-activity-add-chooseAssignment-previous" class="btn op-btn btn-primary" href="#" role="button" rbac-show="rbac-page1">
              <span app-label-key="fcf.assignment.Prev" >Previous</span>
            </button>
            <button id="fcf-activity-add-chooseAssignment-next" class="btn op-btn btn-primary" href="#" role="button" rbac-show="rbac-page3">
                <span app-label-key="fcf.assignment.Next" >Next</span>
            </button>
        </div>
        <!--/Content-->
  
    </div>  
    <!--/END PAGE 2-->


                <!-- Modal for Add Activity -->
                <div class="modal fade fcf-theme-modal" id="fcf-modal-new-Activity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
          
                        <div class="modal-content">
                          <div class="modal-header">
                              <p><span app-label-key="fcf.assignment.addAssignment.Title" >Add a New Activity</span></p>
                          </div>
                          <div class="modal-body">
                            <form id="fcf-new-activity-form">
                              <!---->
                              <input type="hidden" id="activity-team" name='team' />
                              <label for="activity_name"><span app-label-key="fcf.assignment.Choose.ActivityName">Activity Name</span></label>
                              <p><span app-label-key="fcf.assignment.addAssignment.Choose.ActivityNameDesc" >Please use a name everyone associated with the activity will organize</span></p>
                              <div style="text-align:right;">Characters remaining: <span style="font-weight: bold;" id="activity_name_limit">240</span></div>
                              <div class="form-group">
                                <input type="text" oninput="var left = 240-this.value.length; if (left < 0) { left = 'Too many characters!'; } document.getElementById('activity_name_limit').innerHTML = left;" class="form-control" placeholder="Activity Name" app-label-key="fcf.assignment.Choose.ActivityName" name="activity_name" id="activity_name" required >
                              </div>
                              <div style="text-align:right;">Characters remaining: <span style="font-weight: bold;" id="activity_name_govt_limit">240</span></div>
                              <div class="form-group">
                                <input type="text" oninput="var left = 240-this.value.length; if (left < 0) { left = 'Too many characters!'; } document.getElementById('activity_name_govt_limit').innerHTML = left;" class="form-control" placeholder="Activity Name (Govt)" app-label-key="fcf.assignment.Choose.ActivityNameGovt" name="activity_name_govt" id="activity_name_alt" >
                              </div>
                           
                              <!---->
                              <div class="row" style="overflow: visible;">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="date_start" app-label-key="fcf.assignment.addAssignment.Choose.startDate">Start Date</label>
                                          <input type="text" class="form-control" id="date_start" name="date_start" />
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="date_end" app-label-key="fcf.assignment.addAssignment.Choose.endDate">End Date</label>
                                          <input type="text" class="form-control" id="date_end" name="date_end"/>
                                      </div>
                                  </div>
                              </div>
                              <!---->
                              <div class="row off-top10">
                                <div class="col-sm-12 form-group">
                                    <label><span app-label-key="fcf.assignment.Choose.TeamObjectives">Team Objectives</span></label>
                                    <p><span app-label-key="fcf.assignment.Choose.TeamObjectivesDesc" > Every activity must meet at least one objective. Please choose all that apply:</span></p>
                                    <div class="form-group objectives-section">
                                      <!-- objectives.forEach(function(objective){ -->
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="[[= objective.id ]]" name="objective" /> [[= objective.description ]]</label>
                                        </div>
                                        <!-- }) -->
                                        <li class="mockup" >
                                            <label><input type="checkbox" id="chk2" name="chk2">Objective 2</label>
                                        </li>
                                        <li class="mockup">
                                            <label><input type="checkbox" id="chk3" name="chk2">Objective 3</label>
                                        </li>
                                        <li class="mockup">
                                            <label><input type="checkbox" id="chk3" name="chk3">Objective 4</label>
                                        </li>                                
                                    </div>
                                           
                                </div>
                              </div>
                              <!---->
                              <div class="row">
                                  <div class="col-sm-12">
                                      <label><span app-label-key="fcf.assignment.Choose.Description">Description</span></label>
                                      <p><span app-label-key="fcf.assignment.Choose.DescriptionDesc" >Please describe this activity using the team objective as guideline </span></p>
                                      <div style="text-align:right;">Characters remaining: <span style="font-weight: bold;" id="activityDescription_limit">240</span></div>
                                      <div class="form-group">
                                        <textarea type="textarea" oninput="var left = 240-this.value.length; if (left < 0) { left = 'Too many characters!'; } document.getElementById('activityDescription_limit').innerHTML = left;" class="form-control" placeholder="Description" id="activityDescription" app-label-key="fcf.assignment.Choose.Description" name="activity_description"></textarea>
                                      </div>
                                      <div style="text-align:right;">Characters remaining: <span style="font-weight: bold;" id="activityDescriptionGovt_limit">240</span></div>
                                      <div class="form-group">
                                        <textarea type="textarea" oninput="var left = 240-this.value.length; if (left < 0) { left = 'Too many characters!'; } document.getElementById('activityDescriptionGovt_limit').innerHTML = left;" class="form-control" placeholder="Description (Govt)" id="activityDescriptionGovt" app-label-key="fcf.assignment.Choose.DescriptionGovt" name="activity_description_govt"></textarea>
                                      </div>
                                  </div>
                              </div>
                              <!---->
                              <div class="modal-footer">

                                  <button id="cancel-add-assignment" type="button" class="btn op-btn btn-primary" data-dismiss="modal"><span app-label-key="fcf.assignment.Cancel">Cancel</span></button>
                                  <button id="add-assignment" type="button" class="btn op-btn btn-primary"><span app-label-key="fcf.assignment.Add">Add</span></button>

                              </div> 
                            </form>      
                          </div>

                        </div>
                    </div>
                </div>
                <!-- /Modal for Add Activity -->
        </div>

      <!--PAGE 3-->
                <div id='fcf-activity-add-report' class="container rbac-display rbac-page3" style="display:none; padding-bottom: 50px;">
                      <div class="fcf-blue-wrap col-sm-12">
                            <!--Top-->
                              <div class="row op-container">

                                <div class="col-sm-12 ">
                                    <!-- <p class="pull-left" >
                                        <a href="http://www.thaiconnections.org/OSticket/upload/open.php"><i class="fa fa-question-circle" aria-hidden="true"></i><span class="light-txt" app-label-key="fcf.help">Help</span></a>
                                    </p> -->
                                    <p class="pull-right light-txt" app-label-key="fcf.activity.add.report.step">Step 3 of 3</p>
                                </div>

                              </div>
                            <!--End Top-->
                            <!--Content-->      
                              <div id="fcf-activity-content-section" class="row op-container">
                                    <!--All Activity list-->
                                    <div class="col-sm-3">
                                      <div class="col-sm-12 light-blue-wrap fcf-activity-contentsection-activityList">
                                        <div class="row off-top10">

                                        <label class="fcf-activity-activityList-label padleft15 off-top10 "><span app-label-key="fcf.activity.report.AllActivities" >All Activities for </span><span class='fcf-activity-team-name'>[TEAM]</span></label>

                                        <div id="lc-activity" class="fcf-activity-report-activities op-container" style="padding: 0 15px; margin-right: 15px;">
                                            <!-- activities.forEach(function(activity) {  -->
                                            <div class="imgleft fcf-activity-list-item" activity-id="[[= activity.attr('id') ]]" obj-embed="activity" >
                                                <b><span class="blue font16">[[= activity.attr("activity_name") ]]</span></b><br/>
                                                <span class="font12">[[= activity.attr("startDate") ]] - [[= activity.attr("endDate") ]]</span>
                                            </div>
                                            <!-- })  -->
                                        </div>                                                                    
                                        </div> 
                                      </div>
                                    </div>
                                    <!--END All Activity list-->


                                    <!--Activity Report--> 
                                    <div class="col-sm-9 light-blue-wrap">
                                      <div class="row">

                                        <!--Uploaded Photos-->
                                        <div class="col-sm-4">
                                          <div class="row op-container">
                                            <div class="col-sm-12 off-top10">

                                                <label class="off-top10">Uploaded Photos</label>
                                              <!-- <label class="off-top10" app-label-key="fcf.assignment.report.currentActivityReport">Current Activity Report</label> -->

                                              <!-- <p><span class="orange fcf-activity-activity-name">[Activity Name]</span>   <span class="blue"><span class="fcf-activity-activity-startdate">10/1/14</span> - <span class="fcf-activity-activity-enddate">Ongoing</span></span></p> -->
                                              <!-- <p class="blue"><span class="fcf-activity-activity-project-name">[Project Name]</span></br><span class="fcf-activity-activity-team-name">[Team Name]</span></p> -->
                                            </div>
                                          </div>

                                          <div id="uploaded-img" class="col-sm-12 padrigt1">
                                            <div id="upload-scroll" class="off-top10 fcf-activity-report-activity-images col-sm-12">
                                             
                                              <!-- images.forEach(function(image){ --> 
                                              
                                              <div class="imgleft fcf-activity-image-list-item" obj-embed="image" >
                                                  <div class="row">
                                                    <%# <div class="col-sm-12"> %>
                                                      <%# <div class="row"> %>
                                                        <div class="col-sm-5 fcf-image-embed" opimage-url="/images/fcf_activities/img2.jpg"><img src="/images/fcf_activities/img2.jpg"></div>
                                                        <div class="col-sm-7 op-css-nopadL">
                                                          <label class="blue">
                                                              [[= image.attr("caption") ]]
                                                          </label>
                                                          <p class="fcf-activity-image-tag-list" imageID="[[= image.attr('id') ]]"><span class="blue bgfont" app-label-key="fcf.activity.add.report.PeopleInPhoto" >People in this photo:</span><br>
<!-- 

var displayedTags = []; 
taggedPeople.forEach(function(personID){

    var foundPerson = null;
    if (teammates.each) {
      teammates.each(function(mate){
      
        if (mate.IDPerson == personID) {
          foundPerson = mate;
        }
      })
    } else {
      console.error('teammates.each() not a valid function!');
    }

    if (foundPerson) {   

        if (foundPerson.IDPerson != whoami.IDPerson) {

            displayedTags.push(foundPerson.display_name); 

        } else {
            displayedTags.unshift(' <span class="orange">'+foundPerson.display_name+'</span>');
        }

    }

})

]] [[== displayedTags.join(', ') ]]  <!--


--> 

                                                          </p>
                                                        </div>                            
                                                      </div>
                                                    <%# </div>  
                                                  </div> %>
                                              </div>
                                              
                                              <!-- })  -->


                                              
                                            </div>                                                                    
                                          </div>
                      
                                        </div>
                                        <!--/Uploaded Photos-->
                                        <!--Big Image-->
                                        <div class="col-sm-8">
                                          <div class="row" style="margin-top: 45px; overflow: visible;">
                                              <!-- <div class="col-sm-5 nomargin">
                                              </div> -->
                                              <!--/END Big Image-->
                                              <!--Form-->

                                              <div id="formColumn" class="col-sm-12 nomargin">
                                                  <div id="fcf-activity-image-upload" class="dropzone op-dropzone dz-clickable">
                                                      <div class="dz-message">
                                                        <p class="first" app-label-key="fcf.activity.add.report.DragImageHere" style="margin-top: 45px !important;">Drag image here</p>
                                                        <p app-label-key="fcf.activity.add.report.or">- or -</p>
                                                        <p class="opsportal-margin-top"><a class="btn btn-primary" style="opacity: 1;" title="Click to open the file browser" href="#" app-label-key="fcf.activity.add.report.ClickToOpenFileBrowser">Click to open the file browser</a></p>
                                                      </div>
                                                      <div class="preview-template" style="display: none;"></div>
                                                      <img src="" class="fcf-activity-image-uploaded" width="344" />

                                                      <!-- <div class="fcf-activity-image-uploaded"></div> -->
                                                  </div>
                                                <form class="fcf-activity-image-form">
                                                  <input type="hidden" class="form-control" id="image-image" name="image" />
                                                  <input type="hidden" class="form-control" id="image-activity" name="activity" />
                                                  <div id="dc" class="">
                                                    <div class="form-group">
                                                      <label style="padding-top: 5px;" app-label-key="fcf.activity.image.form.tags" for="image-tags">People in Photo</label>
                                                      <div id="image-tags" name="tags"></div>
                                                      <label style="padding-top: 5px;" app-label-key="fcf.activity.image.form.caption" for="image-caption">Caption</label><span style="padding-top: 5px;" class="pull-right">Characters remaining: <span style="font-weight: bold;" id="charCount">240</span></span>
                                                      <textarea oninput="var left = 240-this.value.length; if (left < 0) { left = 'Too many characters!'; } document.getElementById('charCount').innerHTML = left;" style="height: 100px;" class="form-control" id="image-caption" placeholder='Caption' name="caption" app-label-key="fcf.activity.image.form.caption"></textarea>
                                                      <div class="row" style="overflow: visible;">
                                                          <div class="col-sm-6">
                                                              <label style="padding-top: 5px;" app-label-key="fcf.activity.image.form.caption_govt" for="image-caption-govt">Activity Location</label>
                                                              <input type="text" class="form-control" id="image-caption-govt"  placeholder='Activity Location' name="caption_govt" app-label-key="fcf.activity.image.form.caption_govt" />
                                                          </div>
                                                          <div class="col-sm-6">
                                                              <label style="padding-top: 5px;" app-label-key="fcf.activity.image.form.date" for="image-date">Date of Photo</label>
                                                              <input type="text" class="form-control" id="image-date" name="date" placeholder="Date of Photo" app-label-key="fcf.activity.image.form.date" />
                                                          </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </form>
                                                <div class="align-r">
                                                  
                                                    <button id="fcf-activity-image-form-delete" type="button" class="btn op-btn btn-danger pull-left"><span app-label-key="fcf.assignment.imageform.Delete" >Delete</span></button>
                                                    <button id="fcf-activity-image-form-cancel" type="submit" class="btn op-btn btn-link" style="color: black; text-decoration: underline;"><span app-label-key="fcf.assignment.imageform.Cancel" >Cancel</span></button>
                                                    <button id="fcf-activity-image-form-save" type="submit" class="btn op-btn btn-primary" ><span app-label-key="fcf.assignment.imageform.SaveImage" >Save Image</span></button>

                                             
                                                </div>

                                              </div>
                                          </div>
                                          <!--/END Form-->         
                                        </div>
                                        <!--/Big Image-->
                                      </div>
                                    </div>
                                    <!--END Activity Report-->
                                          
                                
                              </div>
                            <!--/Content-->
                            <div id="fcf-activity-actionsbtn" class="form-inline col-sm-12 align-r ">

                                <button id="fcf-activity-image-form-nav-previous" type="submit" class="btn op-btn btn-primary"><span app-label-key="fcf.assignment.Prev" >Previous</span></button>
                                <button id="fcf-activity-image-form-nav-finish" type="submit" class="btn op-btn btn-primary" ><span app-label-key="fcf.assignment.finish" >Finish</span></button>

                          </div>           
                      </div>

                </div>
                <!--/END PAGE 3-->
               



                <!-- Modal for Confirm Step -->
                <div class="modal fade fcf-theme-modal" id="confirmstep" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content modal-add-activity">
                       <p class="modalhead">Confirm your Report</p>
                      <div class="modal-body inner-add-activity">
                        <p class="blue"><span class="orange font25"><strong>Name: </strong>Connection Meeting</span><br>
                           <span><strong>Project: </strong>Family Connection</span><br>
                           <span><strong>Team: </strong>Admin Team</span><br>
                           <span><strong>Date: </strong>10/11/14</span>
                        </p>
                        <div class="col-sm-12">
                          <div id="confirm-step-scroll" class="marginbot10">
                            <!--Photos Added 1-->
                            <div class="row">
                              <div class="col-sm-12">
                                <p>Photos you added</p>
                                <img src="/images/fcf_activities/confirmed-img.jpg">
                                <p>Caption: Connection Meeting 1</p>
                                <p>Tags: <span class="orange">Tom</span>, Nate, Mike, Imran, Boom </p>
                              </div>
                            </div>
                            <!--/Photos Added 1-->
                            <!--Photos Added 2-->
                            <div class="row">
                              <div class="col-sm-12">
                                <p>Photos you added</p>
                                <img src="/images/fcf_activities/confirmed-img.jpg">
                                <p>Caption: Connection Meeting 1</p>
                                <p>Tags: <span class="orange">Tom</span>, Nate, Mike, Imran, Boom </p>
                              </div>
                            </div>
                            <!--/Photos Added 2-->
                          </div>
                        </div>
                
                        <div class="modal-footer margintop10">
                          <button type="button" class="btn custombtn" data-dismiss="modal">Back</button>
                          <button type="button" class="btn custombtn fcf-activity-confirm">Confirm</button>
                        </div>       
                      </div>
                
                    </div>
                  </div>
                </div>
                <!--/ Modal for Confirm Step -->







</div>
